beautifulsoup4==4.6.0
bleach==2.1.1
certifi==2017.4.17
chardet==3.0.4
click==6.7
dj-database-url==0.4.2
Django==2.0
django-modelcluster==4.1
django-settings-export==1.2.1
django-taggit==0.22.2
django-treebeard==4.2.0
django-webpack-loader==0.5.0
djangorestframework==3.8.2
draftjs-exporter==2.0.0
factory-boy==2.7.0
fake-factory==0.7.4
Faker==0.7.17
first==2.0.1
gunicorn==19.7.1
html5lib==0.999999999
idna==2.5
olefile==0.44
Pillow==4.2.1
pip-tools==1.9.0
psycopg2==2.7.1
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.1
six==1.10.0
sqlparse==0.2.3
Unidecode==0.4.21
unittest-xml-reporting==2.1.0
urllib3==1.21.1
wagtail==2.1
wagtail-factories==1.0
wagtail-metadata==2.0
webencodings==0.5.1
Willow==1.1
