Django<1.12

bleach
dj-database-url
django-modelcluster
django-settings-export
django-webpack-loader
factory_boy
gunicorn
pip-tools
psycopg2
wagtail==1.12
wagtail-factories
wagtail-metadata
unittest-xml-reporting
